{% extends 'base.html' %}

{% block title %}로그아웃{% endblock %}

{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
<div class="logout-container d-flex align-items-center justify-content-center">
    <div class="card logout-card p-4 shadow-sm" style="width: 100%; max-width: 400px; margin-bottom: 50px;">
        <div class="card-body text-center">
            <h1 class="fs-3 mb-4">로그아웃</h1>
            <h4 class="mb-4">로그아웃 하시겠습니까?</h4>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">로그아웃</button>
            </form>
        </div>
    </div>
</div>

<style>
    .logout-card {
        border-radius: 15px; /* 카드 모서리 둥글게 */
    }

    .card-body h1 {
        color: #333; /* 제목 색상 */
        font-size: 2.5rem; /* 제목 폰트 크기 */
        font-weight: bold;
    }

    .card-body h4 {
        color: #666; /* 부제목 색상 */
        font-size: 1.5rem; /* 부제목 폰트 크기 */
    }

    .btn-primary {
        background-color: #0BD0AF; /* 버튼 배경 색상 */
        border-color: #0BD0AF; /* 버튼 테두리 색상 */
        color: #fff; /* 버튼 텍스트 색상 */
        padding: 12px 24px; /* 버튼 패딩 */
        font-size: 1rem; /* 버튼 폰트 크기 */
        border-radius: 5px; /* 버튼 모서리 둥글게 */
        transition: background-color 0.3s, border-color 0.3s; /* 부드러운 색상 변화 */
    }

    .btn-primary:hover {
        background-color: #08b6a6; /* 버튼 호버 시 배경 색상 */
        border-color: #08b6a6; /* 버튼 호버 시 테두리 색상 */
    }
</style>
{% endblock %}
