{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'planrecommend/date.css' %}">
{% endblock %}

{% block content %}
<p id="select-page" class="mb-4" style="color: #1F66F0; font-weight: bold; text-align: center;">2/3</p>
<div class="card mb-4 mt-3 center shadow-sm" style="width: 30%; margin: 0 auto; text-align: center;">
    <div class="card-body">
        <i class="bi bi-calendar2-check-fill"></i>
        <h3 class="mt-4">여행 기간은?</h3>
        <p id="select-date" class="mb-4">원하는 기간을 선택해주세요.</p>
        
        <!-- 날짜 선택 -->
        <div class="center" style="display: flex; justify-content: center;">
            <div>
                {% for date in dates|slice:":3" %}
                    <button class="date-box">{{ date.date }}</button>
                {% endfor %}
            </div>
            <div>
                {% for date in dates|slice:"3:" %}
                    <button class="date-box">{{ date.date }}</button>
                {% endfor %}
            </div>
        </div>

        <!-- 선택된 값 -->
        <p class="mt-2 mb-4" style="color: #000000; font-weight: bold; text-align: center;">선택</p>
        <div id="selected-data-container" class="mt-2 mb-4" style="display: flex; justify-content: center;">
            <div id="city-selected-data" class="selected-data"></div>   
            <div id="date-selected-data" class="selected-data"></div>  
        </div>  

        <!-- 다음 버튼 -->
        <div class="center mt-3 mb-3">
            <button id="next-button" class="btn btn-primary" style="width: 370px; height: 50px;">다음</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.date-box');
        const dateSelectedDataContainer = document.getElementById('date-selected-data');
        const citySelectedDataContainer = document.getElementById('city-selected-data');
        const nextButton = document.getElementById('next-button');
        const city = new URLSearchParams(window.location.search).get('city');
        let selectedDate = '';

        // 선택된 도시를 city-selected-data에 표시
        citySelectedDataContainer.innerHTML = `<div class="city-selected-data">${city}</div>`;

        function handleDateSelection(event) {
            // 모든 버튼에서 selected 클래스 제거
            buttons.forEach(btn => btn.classList.remove('selected'));
            // 클릭된 버튼에 selected 클래스 추가
            event.currentTarget.classList.add('selected');
            // 선택된 여행일정 저장 및 표시
            selectedDate = event.currentTarget.textContent;
            dateSelectedDataContainer.innerHTML = `<div class="date-selected-data">${selectedDate}</div>`;
            
        }

        function handleNextButtonClick(event) {
            if (selectedDate) {
                // 다음 페이지로 이동하면서 선택된 도시, 여행기간을 URL 파라미터로 전달
                window.location.href = `{% url 'planrecommend:select_who' %}?city=${encodeURIComponent(city)}&date=${encodeURIComponent(selectedDate)}`;
            } else {
                // 선택된 여행일정이 없을 경우, 알림창 띄우기
                alert('여행일정을 선택해주세요.');
                // 기본 동작 방지
                event.preventDefault();
            }
        }

        buttons.forEach(button => button.addEventListener('click', handleDateSelection));
        nextButton.addEventListener('click', handleNextButtonClick);
    });
</script>
{% endblock %}