{% extends 'base.html' %}

{% block content %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'travel/home.css' %}">
{% endblock %}
<div class="container mt-3">
    <h3 class="mb-4">여행 시작</h3>

    <div class="row text-center shadow-sm justify-content-center">
        <div class="col-md-2 mb-3">
            <a href="{% url 'flights:flight_search' %}" class="d-block">
                <i class="bi bi-airplane" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>항공권</strong></span>
            </a>
        </div>
        <div class="col-md-2 mb-3">
            <a href="#" class="d-block">
                <i class="bi bi-building" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>숙소</strong></span>
            </a>
        </div>
        <div class="col-md-2 mb-3">
            <a href="#" class="d-block">
                <i class="bi bi-ticket-perforated" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>투어﹒티켓</strong></span>
            </a>
        </div>
        <div class="col-md-2 mb-3">
            <a href="{% url 'baenangtalk:bae_main' %}" class="d-block">
                <i class="bi bi-chat-square-dots" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>배낭톡</strong></span>
            </a>
        </div>
        <div class="col-md-2 mb-3">
            <a href="{% url 'chatbot:chatbot_main' %}" class="d-block">
                <i class="bi bi-robot" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>챗봇</strong></span>
            </a>
        </div>
    </div>

</div>

{% endblock %}
