{% extends 'base.html' %}

{% load humanize %}

{% block title %}나의 리뷰 수정{% endblock %}

{% block content %}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 30px 20px; 
            background-color: #ffffff;
            border-radius: 10px; 
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .star-rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }
        .star-rating input[type="radio"] {
            display: none;
        }
        .star-rating label {
            font-size: 2em;
            color: #ddd;
            cursor: pointer;
        }
        .star-rating input[type="radio"]:checked ~ label {
            color: #f5b301;
        }
        .star-rating label:hover,
        .star-rating label:hover ~ label {
            color: #f5b301;
        }
        .rating-text {
            text-align: center;
            margin-top: 10px;
            font-size: 1.2em;
            color: #333;
        }
        .submit-button {
            cursor: pointer;
            color: blue; /* 필요에 따라 스타일 조정 */
            border: none;
            background-color: white;
        }
        .form-group {
            text-align: center;
        }
        .no-border {
            border: none;
            box-shadow: none;
        }
        #travel_date:focus {
            outline: none;
            box-shadow: none;
        }
        .image-upload-wrapper {
            position: relative;
            width: 150px;
            height: 150px;
            background-color: #f0f0f0;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 20px;
        }
        .image-upload-wrapper input[type="file"] {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .image-upload-wrapper .plus-icon {
            font-size: 48px;
            color: #ccc;
        }

    </style>

    <div class="container mt-4">
        <div class="header">
            <div class="d-flex align-items-center">
                <i class="bi bi-x back-button"></i>
                <h5 style="margin-left: 10px; font-weight: bold;">{{ accommodation.name }}</h5>
            </div>
            <button type="submit" class="submit-button" style="margin-right: 10px;">완료</button>

        </div>

        <form id="review-form" method="post" enctype="multipart/form-data" action="{% url 'accommodation:update_review' accommodation.pk review.pk%}">
            {% csrf_token %}
            <div class="form-group">
                <div class="star-rating">
                    <input type="radio" id="star5" name="rating" value="5" {% if review.rating == 5 %}checked{% endif %}><label for="star5" class="fas fa-star"></label>
                    <input type="radio" id="star4" name="rating" value="4" {% if review.rating == 4 %}checked{% endif %}><label for="star4" class="fas fa-star"></label>
                    <input type="radio" id="star3" name="rating" value="3" {% if review.rating == 3 %}checked{% endif %}><label for="star3" class="fas fa-star"></label>
                    <input type="radio" id="star2" name="rating" value="2" {% if review.rating == 2 %}checked{% endif %}><label for="star2" class="fas fa-star"></label>
                    <input type="radio" id="star1" name="rating" value="1" {% if review.rating == 1 %}checked{% endif %}><label for="star1" class="fas fa-star"></label>
                </div>
                <div class="rating-text" id="rating-text"></div>
            </div>
    
            <!-- 구분선 -->
            <hr style="border: 0; border-top: 1px solid #ccc; margin: 30px 50px;">

                 <div class="form-group" style="display: flex; align-items: center;">
                    <i class="bi bi-calendar4"style="margin-left: 40px;"></i>
                    <input type="text" class="form-control no-border" id="travel_date" name="travel_date" style="width: 300px; outline: none; box-shadow: none;" placeholder="언제 다녀오셨어요?(선택)" value="{{ review.travel_date}}">
                </div>

    
            <textarea id="content" name="content" class="form-control" style=" width: 700px; height: 100px; outline: none; box-shadow: none; border: none; margin-left: 30px;" 
                placeholder="· 직접 경험한 솔직한 리뷰를 남겨주세요.
· 사진을 첨부할 수 있어요 (최대 20장)" required>{{ review.content }}</textarea>
             
    <input type="hidden" id="image-deleted" name="image_deleted" value="0">
        
            <div class="form-group" style="display: flex; align-items: center;">
                <div class="image-upload-wrapper" style="margin-left: 30px; display: flex; align-items: center;">
                    <span class="plus-icon" style="cursor: pointer;">+</span>
                    <input type="file" id="image-upload-input" name="image_url" style="display: none;" accept="image/*" onchange="previewImage(event)">
                </div>
               
                <div id="image-container" style="position: relative; {% if review.image_url %}display: block;{% else %}display: none;{% endif %}  margin-left: 10px;">
                    <img id="image-preview" src="{{MEDIA_URL}}{{ review.image_url }}" alt="Image Preview" style="width: 150px; height: 150px;" />
                    <button id="remove-image" style="position: absolute; top: 0; right: 0; background: rgba(255, 255, 255, 0.7); color: rgb(0, 0, 0); border: none; cursor: pointer;  border-radius: 50%; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center;">X</button>
                </div>
            </div>
    
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        
    <script>
    

    $(document).ready(function(){
            $('#travel_date').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'),10),
                autoUpdateInput: false,
                locale: {
                    format: 'YYYY-MM-DD'
                }
                
        });
       
         // 날짜 선택 시 입력 필드 업데이트
        $('#travel_date').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD'));
        });


    });
    document.querySelector('.back-button').addEventListener('click', function() {
            window.history.back();
        });

    document.addEventListener('DOMContentLoaded', function() {
        const submitButton = document.querySelector('.submit-button');

        submitButton.addEventListener('click', function() {
            const form = document.getElementById('review-form');
            form.submit(); // 폼 제출

    });
});

        const ratingText = document.getElementById('rating-text');
        const ratingLabels = {
            1: '별로예요',
            2: '조금 아쉬워요',
            3: '괜찮아요',
            4: '추천할 만 곳이에요',
            5: '정말 휼륭한 숙소예요'
        };

        document.querySelectorAll('.star-rating input').forEach(input => {
            input.addEventListener('change', function() {
                ratingText.textContent = ratingLabels[this.value];
            });
        });
        document.querySelector('.plus-icon').addEventListener('click', function() {
            document.getElementById('image-upload-input').click();
        });

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('image-preview');
                output.src = reader.result;
                document.getElementById('image-container').style.display = 'block';
                document.getElementById('image-deleted').value = '0';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    

      
        function removeImage() {
            document.getElementById('image-preview').src = '';
            document.getElementById('image-container').style.display = 'none';
            document.getElementById('image-upload-input').value = '';
            document.getElementById('image-deleted').value = '1';
           
        }
      
        document.getElementById('remove-image').addEventListener('click', function(event) {
            event.preventDefault(); 
            removeImage();
           
    });
    </script>
{% endblock %}