/* 중앙 정렬 */
.center {
    text-align: center;
}

/* 달력 아이콘 */
.bi-calendar2-check-fill {
    color: #0BD0AF;
    font-size: 50px; 
    margin-bottom: 10px;
}

/* h 태그 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* p 태그 */
#select-date {
    color: rgb(169, 169, 169);
}

/* 여행기간  */
.date-box {
    border-radius: 30px;
    background-color: #f4f4f8;
    width: 180px;
    height: 60px;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;

    font-size: 20px;
    color: rgb(130, 130, 130);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

/* 여행기간 hover & 선택 */
.date-box:hover, .date-box.selected {
    background-color: #0BD0AF;
    color: rgb(255, 255, 255);
}

/* 선택된 값 */
.city-selected-data, .date-selected-data {
    border-radius: 30px;
    background-color: #ffffff;
    width: 120px;
    height: 60px;
    padding: 5px;
    border: 2px solid #0BD0AF;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;

    font-size: 20px;
    color: #0BD0AF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}