/* h 태그 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* 전송 버튼 스타일 */
.submit-button {
    background-color: #0BD0AF;
    color: white;
    border: none;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
    align-self: flex-end; /* 버튼을 왼쪽 정렬 */
    margin: 5px;
    text-decoration: none; /* 링크 기본 밑줄 제거 */
    display: inline-block; /* 인라인 요소로 표시 */
}

/* 질문 */
.question {
    padding: 10px 10px;
    margin: 25px;
    margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 우측 정렬 */
    border-radius: 10px;
    background-color: #0BD0AF;
    color: white;
    width: auto; /* 너비를 내용에 맞게 조절 */
    min-width: 50px; /* 최소 너비 설정 */
    max-width: 200px; /* 최대 너비 설정 */
    text-align: right; /* 텍스트 우측 정렬 */
}

/* 응답.. */
.waiting {
    padding: 10px 10px;
    margin: 25px;
    border-radius: 10px;
    background-color: #0BD0AF;
    color: white;
    width: auto; /* 너비를 내용에 맞게 조절 */
    min-width: 50px; /* 최소 너비 설정 */
    max-width: 20px; /* 최대 너비 설정 */
}

/* 답변 */
.answer {
    padding: 10px 10px;
    margin: 25px;
    border-radius: 10px;
    background-color: #0BD0AF;
    color: white;
    width: auto; /* 너비를 내용에 맞게 조절 */
    max-width: 600px; /* 최대 너비 설정 */
}