{% extends 'base.html' %}

{% block title %}마이페이지{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'mypage/mypage.css' %}">
{% endblock %}

{% block extra-style %}
<style>
    .profile-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        /* 이미지를 컨테이너에 맞게 조정 */
        border-radius: 50%;
    }

    .profile-section {
        display: flex;
        align-items: center;
        padding: 20px;
        border: 1px solid hsla(0, 0%, 100%, .3);
        gap: 20px;
        /* 프로필 사진과 나머지 요소들 사이의 간격을 설정 */
    }

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .btn-container {
        margin-top: 20px;
        /* 버튼과 프로필 사이의 간격 조정 */
    }

    .d-flex {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .fixed-card {
        width: 18rem;
        /* 고정된 너비 */
        height: 25rem;
        /* 고정된 높이 */
        overflow: hidden;
        /* 내용이 카드 범위를 넘지 않도록 숨김 처리 */
    }

    .card-img-top {
        height: 10rem;
        /* 이미지 높이 고정 */
        object-fit: cover;
        /* 이미지가 카드에 맞게 조절되도록 */
    }

    .profile-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        /* 부모 요소의 너비에 따라 가운데 정렬을 위해 추가 */
        width: 100%;
    }
</style>
{% endblock %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">프로필</h2>
            <div class="profile-section shadow-sm text-black rounded-2">
                <div class="col-md-4 text-start">
                    <label for="id_profile" style="cursor: pointer; margin-left: 60px;">
                        <img src="{{ user.profile.url }}" alt="{{ user.username }}" class="profile-img mb-2"
                            id="profile-preview">
                    </label>
                </div>
                <div class="col-md-8">
                    <div class="nickname-section">
                        <h3 class="mb-5">{{ user.nickname }}</h3>
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#nicknameModal"
                            style="background-color: #0BD0AF; border-color: #0BD0AF;">프로필 편집</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- 아이콘 -->
<div class="container mt-5">
    <div class="row justify-content-center g-4 text-center shadow-sm">
        <div class="col-md-3">
            <a href="{% url 'mypage' %}" class="d-block">
                <i class="bi bi-geo-alt" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>내 여행</strong></span>
            </a>
        </div>
        <div class="col-md-3  mb-5">
            <a href="{% url 'mypage:save_list' %}" class="d-block">
                <i class="bi bi-heart" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>내 저장</strong></span>
            </a>
        </div>
        <div class="col-md-3  mb-5">
            <a href="{% url 'mypage:review_list' %}" class="d-block">
                <i class="bi bi-star" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>내 리뷰</strong></span>
            </a>
        </div>
        <div class="col-md-3 mb-5 ">
            <a href="{% url 'travel_diary:diary_list' %}" class="d-block">
                <i class="bi bi-journal-minus" style="color: #0BD0AF; font-size: 4em;"></i>
                <span class="d-block mt-1"><strong>내 여행기</strong></span>
            </a>
        </div>
    </div>
</div>

<!-- 최근 여행 일정 -->
<div class="container mt-3">
    <div class="row">
        <h2 class="mb-3">최근 여행</h2>
        <div class="d-flex">
            {% block list %}
            {% if trip_list %}
            {% for i in trip_list %}
            <div class="card mx-2 fixed-card">
                <a href="{% url 'plan:day_plan' i.city.area_code i.city.cigungu1|default:0 i.city.cigungu2|default:0 i.city.cigungu3|default:0 %}?trip={{i.id}}&area_code={{i.city.area_code}}">
                    <img src="{{i.city.title_image.url}}" class="card-img-top" alt="여행 일정 이미지">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{i.city}}</h5>
                    <p class="card-text">{{i.start_date|date:'Y.m.d'}} - {{i.end_date|date:'Y.m.d'}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>

<!-- 공지 사항 -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">공지 사항</h5>
                    <a href="/customer_service/notice/list" class="btn btn-primary">자세히 보기</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">고객 센터</h5>
                    <a href="/customer_service" class="btn btn-primary">자세히 보기</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 닉네임 변경 모달 -->
<div class="modal fade" id="nicknameModal" tabindex="-1" aria-labelledby="nicknameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nicknameModalLabel">프로필 변경</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="nickname-form" method="post" action="{% url 'mypage' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-2">
                        <div class="profile-preview">
                            <label for="profile" style="cursor: pointer;">
                                <img id="profile-preview-img"
                                    src="{% if user.profile.url %}{{ user.profile.url }}{% else %}{% static 'profiles/default.png' %}{% endif %}"
                                    alt="프로필 사진 미리보기" class="profile-img mb-2">
                                <input type="file" name="profile" id="profile" accept="image/png, image/jpeg, image/gif"
                                    style="display: none;" onchange="previewFile()">
                            </label>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="nickname" class="form-label"></label>
                        {{ form.nickname }}
                    </div>
                    <button type="submit" class="btn btn-primary">저장</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function previewFile() {
        const preview = document.getElementById('profile-preview-img');
        const file = document.getElementById('profile').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
            preview.style.display = 'block';
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>

{% endblock %}