<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slideshow</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'guidepage/css/all_reservation.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="image-container">
                <a href="{% url 'guidepage:index' %}" class="close-button">
                    <span class="close-icon">&times;</span>
                </a>
                <img src="{% static 'guidepage/photo/travel_plan.png' %}" alt="Triple Guide">
                <h2>알고나면 정말 쉬운, 나만의 여행일정 짜기</h2>
                <p>여행 날짜는 정했는데, 일정 짜기가 막막하신가요?<br>
                    가고 싶은 장소를 내 일정에 차곡차곡 담고, 지도를 보며 일정의 동선을 짜면 끝!<br>
                </p>
            </div>
        </div>
        <div class="card-1">
            <h2>여행 일정 만들기</h2>
            <p>동선을 보며 나만의 일정판 만들기<br>
                가고 싶은 장소를 일정에 담고 지도를 보며 동선을 계획해보세요!<br>
            </p>
            <div class="slideshow-container" id="slideshow-1">
                <div class="slides">
                    <div class="slide"><img src="{% static 'guidepage/photo/plan.png' %}" alt="Slide 1"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/plan1.png' %}" alt="Slide 2"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/plan2.png' %}" alt="Slide 3"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/plan3.png' %}" alt="Slide 4"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/plan4.png' %}" alt="Slide 5"></div>
                </div>
                <a class="prev" onclick="prevSlide('slideshow-1')">&#10094;</a>
                <a class="next" onclick="nextSlide('slideshow-1')">&#10095;</a>
            </div>
            <div class="col-md-4 mb-4">
                <br>
                <br>
                <a href="{% url 'plan:city' %}" class="btn-link">
                    <span><strong>일정 만들기</strong></span>
                </a>
            </div>
        </div>
        <div class="card-1">
            <h2>특별한 여행을 하고 싶다면</h2>
            <p>나만의 특별한 여행, 좋은 방법 없을까 하는 고민 모멘토가 해결해드려요.<br>
               나만의 특별한 여행 컨셉 모멘토가 추천해드려요!<br>
            </p>
            <div class="slideshow-container" id="slideshow-2">
                <div class="slides">
                    <div class="slide"><img src="{% static 'guidepage/photo/ai.png' %}" alt="Slide 1"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/ai1.png' %}" alt="Slide 2"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/ai2.png' %}" alt="Slide 3"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/ai3.png' %}" alt="Slide 4"></div>
                </div>
                <a class="prev" onclick="prevSlide('slideshow-2')">&#10094;</a>
                <a class="next" onclick="nextSlide('slideshow-2')">&#10095;</a>
            </div>
            <div class="col-md-4 mb-4">
                <br>
                <br>
                <a href="{% url 'planrecommend:select_city' %}" class="btn-link">
                    <span><strong>AI 여행컨셉 추천받기</strong></span>
                </a>
            </div>
        </div>
        <div class="card-1">
            <h2>여행지에 대한 정보가 궁금할 때</h2>
            <p>여행지의 문화는 어떨까? 대표 먹거리는 어떤게 있지?<br>
                여행지에 관해 궁금한 점을 Cahtbot에게 물어보세요!<br>
            </p>
            <div class="slideshow-container" id="slideshow-3">
                <div class="slides">
                    <div class="slide"><img src="{% static 'guidepage/photo/chat.png' %}" alt="Slide 1"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/chat1.png' %}" alt="Slide 1"></div>
                    <div class="slide"><img src="{% static 'guidepage/photo/chat2.png' %}" alt="Slide 1"></div>
                </div>
                <a class="prev" onclick="prevSlide('slideshow-3')">&#10094;</a>
                <a class="next" onclick="nextSlide('slideshow-3')">&#10095;</a>
            </div>
            <div class="col-md-4 mb-4">
                <br>
                <br>
                <a href="{% url 'chatbot:chatbot_main' %}" class="btn-link">
                    <span><strong>Chatbot에게 여행지 정보 물어보기</strong></span>
                </a>
            </div>  
        </div>

        <div class="card-3">
            <h2>다른 가이드들이 궁금하다면 ?</h2>
            <div class="slideshow-container" id="slideshow-4">
                <div class="slides">
                    <div class="slide">
                        <img src="{% static 'guidepage/photo/all_reservation.png' %}" alt="Slide 1">
                        <button class="guide-button" onclick="navigateToGuide(2)">예약 가이드 가이드 보러가기</button>
                    </div>
                    <div class="slide">
                        <img src="{% static 'guidepage/photo/travel_memory.png' %}" alt="Slide 2">
                        <button class="guide-button" onclick="navigateToGuide(3)">여행기 가이드 보러가기</button>
                    </div>
                    <div class="slide">
                        <img src="{% static 'guidepage/photo/custom_info.png' %}" alt="Slide 3">
                        <button class="guide-button" onclick="navigateToGuide(1)">여행지 정보 가이드 보러가기</button>
                    </div>
                </div>
                <a class="prev" onclick="prevSlide('slideshow-4')">&#10094;</a>
                <a class="next" onclick="nextSlide('slideshow-4')">&#10095;</a>
            </div>
        </div>
    </div>
    <script src="{% static 'guidepage/js/custom_info.js' %}"></script>
</body>
</html>
