/* h 태그 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}


/* 폼 스타일 */
.form-container {
    padding: 30px;
    background-color: #fff; /* 폼 배경색 추가 */
    border-radius: 10px; /* 테두리 반경 추가 */
    margin-bottom: 20px; /* 하단 여백 */
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="file"],
form textarea,
form select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

form input[type="text"]:focus,
form input[type="file"]:focus,
form textarea:focus,
form select:focus {
    border-color: #3f3f3f;
    box-shadow: 0 0 5px rgba(12, 43, 77, 0.3);
    outline: none;
}


/* 입력 스타일 */
input, textarea, select {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}


/* 버튼 스타일 */
.submit-button {
    background-color: #0BD0AF;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
    align-self: flex-end; /* 버튼을 왼쪽 정렬 */
}

/* 작성완료 버튼 hover */
.submit-button:hover {
    background-color: #87878760;
    transform: translateY(-1px);
}