/* h 태그 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* 메인 이미지 */
.carousel-item {
    width: 100%;
    height: 550px; /* 이미지 영역 높이 설정 */
    overflow: hidden; /* 넘치는 부분을 잘라냄*/
    object-position: center; /* 이미지를 영역 가운데 정렬 */
}

.carousel-item img {
    width: 100%;  /* 부모 요소인 .carousel-item에 맞춤 */
    height: 100%; /* 부모 요소인 .carousel-item에 맞춤 */
    object-fit: cover; /* 이미지 비율 유지 */
}

/* AI일정추천 이미지 */
.ai-recommendation-image {
    width: 100%; 
    height: 280px;
    overflow: hidden; /* 넘치는 부분을 잘라냄*/
    object-position: center; /* 이미지를 영역 가운데 정렬 */
}