{% extends 'base.html' %}

{% block title %}고객센터{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'customer_service/customer_service.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="section-title">고객센터</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="inquiry-list">
                <div class="faq-section">
                    <div class="faq-header">모든 사용자들의 문의내역</div>
                    {% if request.user.is_staff %}
                    <div id="faq_all_list" class="faq-all-list">
                        <a href="{% url 'customer_service:admin_inquiry_list' %}" class="faq_list">전체보기 ></a>
                    </div>
                    {% endif %}
                    {% for post in inquirys %}
                    <div class="inquiry-item">
                        <div class="inquiry-header">
                            <div class="title-author">
                                {% if post.inquiries_id in user_inquiries or is_admin %}
                                    <a href="{% url 'customer_service:post_detail' post.inquiries_id %}">{{ post.inquiry_title }}</a>
                                {% else %}
                                    <a href="#" class="disabled-link">{{ post.inquiry_title }} <i class="fas fa-lock"></i></a>
                                {% endif %}
                            </div>
                            <div class="created-info">
                                <span class="inquiry-author">{{  post.created_by_masked }}</span>
                                <span class="inquiry-date">{{ post.created_at|date:"Y/m/d" }}</span>
                            </div>
                        </div>
                        <div>
                            {% if post.answer_status %}
                                <span class="badge badge-success">답변 완료</span>
                            {% else %}
                                <span class="badge badge-warning">답변 대기중</span>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="alert alert-warning" role="alert">
                        작성된 문의가 없습니다.
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="faq-section">
                <div class="faq-header-container">
                    <div class="faq-header">자주 묻는 질문</div>
                    <div id="faq_all_list" class="faq-all-list">
                        <a href="{% url 'customer_service:faq_list' %}" class="faq_list">전체보기</a>
                    </div>
                </div>
                <div class="tab-container">
                    <div class="tab active" id="faq_bestTab" onclick="selectTab('faq_best')">BEST</div>
                    <div class="tab" id="faq_flightTab" onclick="selectTab('faq_flight')">항공</div>
                    <div class="tab" id="faq_accommodationsTab" onclick="selectTab('faq_accommodations')">숙소</div>
                    <div class="tab" id="faq_serviceTab" onclick="selectTab('faq_service')">서비스 일반</div>
                    <div class="tab" id="faq_commonTab" onclick="selectTab('faq_common')">공통</div>
                </div>

                <div id="faq_best" class="faq-content active">
                    <h5>BEST FAQ</h5>
                    <ul>
                        {% for faq in faq_best %}
                            <li>
                                <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="faq_flight" class="faq-content">
                    <h5>FAQ - 항공</h5>
                    <ul>
                        {% for faq in faq_flight %}
                            <li>
                                <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="faq_accommodations" class="faq-content">
                    <h5>FAQ - 숙소</h5>
                    <ul>
                        {% for faq in faq_accommodations %}
                            <li>
                                <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="faq_service" class="faq-content">
                    <h5>FAQ - 서비스 일반</h5>
                    <ul>
                        {% for faq in faq_service %}
                            <li>
                                <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="faq_common" class="faq-content">
                    <h5>FAQ - 공통</h5>
                    <ul>
                        {% for faq in faq_common %}
                            <li>
                                <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card btn-card">
                <a href="{% url 'customer_service:my_inquiry_list' %}" class="btn btn-link">내 문의내역</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card btn-card">
                <a href="{% url 'customer_service:inquiry_create' %}" class="btn btn-link">문의하기</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script>
    function selectTab(tabId) {
        // 모든 탭을 비활성화
        document.querySelectorAll('.tab').forEach(tab => {
            tab.classList.remove('active');
        });
        // 클릭한 탭을 활성화
        document.getElementById(tabId + 'Tab').classList.add('active');

        // 모든 FAQ 내용을 비활성화
        document.querySelectorAll('.faq-content').forEach(content => {
            content.classList.remove('active');
        });
        // 선택한 FAQ 내용을 활성화
        document.getElementById(tabId).classList.add('active');
    }
</script>
{% endblock %}
