{% extends 'base.html' %}

{% block title %}자주 묻는 질문{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'customer_service/my_inquiry_list.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .faq-section {
        margin: 20px auto;
        max-width: 800px;
    }
    .faq-header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    .form-inline {
        margin-bottom: 20px;
        text-align: right; /* 버튼을 우측 정렬 */
    }
    .tabs {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        border-bottom: 2px solid #ccc;
        cursor: pointer;
    }
    .tab {
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        color: #007bff;
    }
    .tab.active {
        border-bottom: 2px solid #007bff;
        color: #007bff;
    }
    .faq-content {
        display: none;
    }
    .faq-content.active {
        display: block;
    }
    .inquiry-list {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        font-size: 15px;
    }
    .inquiry-list-item {
        padding: 10px 20px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f7f7f7;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .inquiry-title {
        font-size: 1.2em;
        color: #333;
        text-decoration: none;
        flex: 2;
    }
    .inquiry-title:hover {
        text-decoration: underline;
    }
    .btn-custom {
        background-color: #ffffff; /* 배경색 흰색 */
        color: #333333; /* 텍스트 색상 검정색 */
        border: 1px solid #ddd; /* 테두리 색상 */
        border-radius: 5px; /* 테두리 반경 */
        padding: 10px 20px; /* 패딩 */
    }
    .btn-custom:hover {
        background-color: #f8f9fa; /* 호버 시 배경색 */
        color: #000000; /* 호버 시 텍스트 색상 */
        border-color: #ccc; /* 호버 시 테두리 색상 */
    }
</style>
{% endblock %}

{% block content %}
<div class="faq-section">
    <div class="faq-header">자주 묻는 질문</div>
    <form method="GET" action="{% url 'customer_service:faq_list' %}" class="form-inline mb-4">
        {{ form.query }}
        <button type="submit" class="btn btn-custom ml-2">검색</button>
    </form>
    <div class="tabs">
        <div class="tab active" id="faq_flightTab" onclick="selectTab('faq_flight')">항공</div>
        <div class="tab" id="faq_accommodationsTab" onclick="selectTab('faq_accommodations')">숙소</div>
        <div class="tab" id="faq_serviceTab" onclick="selectTab('faq_service')">서비스 일반</div>
        <div class="tab" id="faq_commonTab" onclick="selectTab('faq_common')">공통</div>
    </div>

    <div id="faq_flight" class="faq-content active">
        <h5>FAQ - 항공</h5>
        <ul class="inquiry-list">
            {% for faq in faq_flight %}
                <li class="inquiry-list-item">
                    <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="faq_accommodations" class="faq-content">
        <h5>FAQ - 숙소</h5>
        <ul class="inquiry-list">
            {% for faq in faq_accommodations %}
                <li class="inquiry-list-item">
                    <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="faq_service" class="faq-content">
        <h5>FAQ - 서비스 일반</h5>
        <ul class="inquiry-list">
            {% for faq in faq_service %}
                <li class="inquiry-list-item">
                    <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="faq_common" class="faq-content">
        <h5>FAQ - 공통</h5>
        <ul class="inquiry-list">
            {% for faq in faq_common %}
                <li class="inquiry-list-item">
                    <a href="{% url 'customer_service:faq_detail' faq.id %}" class="inquiry-title">{{ faq.faq_title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function selectTab(tabId) {
        // 모든 탭을 비활성화
        document.querySelectorAll('.tab').forEach(tab => {
            tab.classList.remove('active');
        });
        // 클릭한 탭을 활성화
        document.getElementById(tabId + 'Tab').classList.add('active');

        // 모든 FAQ 내용을 비활성화
        document.querySelectorAll('.faq-content').forEach(content => {
            content.classList.remove('active');
        });
        // 선택한 FAQ 내용을 활성화
        document.getElementById(tabId).classList.add('active');
    }
</script>
{% endblock %}
